.col{
    border-style: solid;
    border-width: 2px;
    color: black;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}
.container{
    display: flex;
    

    margin-left: 100px;
   
}
.imgs{
    margin-left: 50px;
}
.help{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigate{
    display: flex;
   
}
.custom-search-button{
    background-color: green!important;
    color: white!important; 
}
.collapse{
    display: flex!important;
    justify-content: space-around!important;
}

.cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart {
    background-color: lightgrey;
    display: none;
    padding-bottom: 12px;
}
.cart.visible {
    display: block;
}

.addBtn {
    cursor: pointer;
}

#item-1,#item-2,#item-3 {
    display: none;
}

#item-1.visible,#item-2.visible,#item-3.visible {
    display: block;
}
.acc{
    color: white;
    margin-left: 300px;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.acc:hover{
    text-decoration: none;
    color: white;
}
.counter{
    background-color: black;
    border-radius: 50%;
    padding:1px 4px;
    color: white;
    width: 20px;
    height: 20px;
}