

a {
    font-size: 30px;
    display: inline;
    margin-right: 30px;
}
header {
    width: 100%;
    
    display: flex;
    
    margin-bottom: 0px;
    


}

header p {
    text-align: left;
    font-size: 30px;
    display: inline;
    margin-left: 50px;
    
}
header div {
    text-align: right;
    margin-left:400px;
    width: 600px;
    font-size:30px;
    display: inline;

    


}
header div input{
    
    text-align: center ;
    font-size: 30px;
    display: inline;
   

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

nav {
    display: inline-flex;
    background: white;
    text-align: right;
    height: 100px;
    width: 100%;
    justify-items: center;
}
h2{
    display:inline-block ;  
    font-size: 45px;
    margin: 0 3.5vmax;
    padding-top: 10px;
}
.head{
    display: inline-flex;
    width:25vmax ;
    justify-content: center;
    height: 100px;
    align-items: center;
    color: blue;

}
.head1{
    border-right: 5px solid black;
    color: blue;
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 60px;
    width: 78vmax;
}
/*nav ul li:hover,nav ul li .head:hover{
    background: #7b7eaa;
    height: 100px;
    width: 385px;
    transition: all 0.3s ease;
    font-size: 30px;
} */
nav ul li:hover .head{
    font-size: 30px;
 }
li{
    list-style: none;
}
.dropdown1 ,.dropdown2 ,.dropdown3{
    display: none;
}
nav ul li:hover .dropdown1{
    display: block;
    background: rgb(255,255,64);
    position: absolute;
    width: 25vmax;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

nav ul li:hover .dropdown1 li{
    padding: 15px;
    border-bottom:2px dashed black;
    text-align: center;

}
nav ul li:hover .dropdown1 li:hover a{
    color: #7c7b44;
    font-size: 25px ;
    transition: font-size 0.5s ease;
}
nav ul li:hover .dropdown1 li:hover{
    height: auto;
    background: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

body{
    justify-content: center;
}
.RES{
    border-radius: 20%;
    background-color: aqua;
    color: black;
    margin-left: 20px;
    letter-spacing: 5px;
}
.RES:hover{
    background-color: black;
    color: aqua;
    letter-spacing: 5px;
}
/* header img{
    display: inline;
    border-radius: 10%;
} */
.logo{
    width: 60px;
    height: 60px;
border-radius: 50%;
}
#descrip{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 1.5em;
    margin-right: 100px;
    text-align: center;
}
.material{
    margin-right: 100px;
    width: 500px;
}
#resume{
    display: flex;
   
    
}
.matos{
    
    text-align: center;
   
}
.services__item--marketplace {
    
    background: lightblue;
    font-size: 1em;
}
.services__item {
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease 0s;
    width: 300px;
}
#bref{
    font-size: 20px;
}
#work{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.inf{
    text-decoration: none;
    color: purple;
}
#banner img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.beatmaking{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.help{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigate{
    display: flex;
   
}
.custom-search-button{
    background-color: green!important;
    color: white!important; 
}
.navbar{
    height: 100%;
   
}
.cate{
    text-align: center;
    margin-top: 50px;
}
.active{
  
}


.carousel-item img{
    object-fit: cover!important;    
    width: 1500px!important;
    display: flex!important;
    justify-content: center!important;
    overflow: hidden!important;
    height: 400px!important;
}
.carousel-control{
    background-color: transparent!important;
    object-fit: cover!important;
}
.flic{
    border: none!important;
    background-color: transparent!important;
    object-fit: cover!important;
}
.flic:hover{
    background-color: none!important;
    object-fit: cover!important;
}

